* {
    font-family: 'Raleway', sans-serif;
    color: black;      
}

body {
    margin: auto;
    max-width: 1440px;
}

h3 {
    font-size: 16px;
    margin: 0;
}

a {
    text-decoration: none;
}

/*Header*/

header {
    margin-top: 30px;
    margin-bottom: 30px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-booki {
    width: 70px;
}

nav a {
    padding: 28px 35px 0px 35px;
}

nav a:hover {
    color: #0065fc;
    border-top: 3px solid #0065fc;
}

/* search section*/

.search-section {
    margin-top: 50px;
}

.search-section p {
    margin-top: 0px;
}

.search-section h1 {
    margin-bottom: 5px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: start; 
    margin-top: 20px;  
}

.bar-icone {
    background-color: #d9d9d9;
    padding: 15px;
    border: 1px #d9d9d9 solid;
    border-radius: 15px 0px 0px 15px;
}

.bar-input {
    padding: 15px;
    border: 1px #d9d9d9 solid;
    font-weight: 700;
}

.bar-mobile {
    background-color: #0065fc;
    padding: 15px;
    border: 1px #0065fc solid;
    border-radius: 0px 15px 15px 0px;
    font-weight: 700;
    cursor: pointer;
}

button span {
    color: white;
}

.bar-mobile:hover {
    opacity: 70%;
}

.bar-mobile i{
    display: none;
}

/* filters section*/

.filtres {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    margin-top: 20px;
}

.filtres-section {
    display: flex;
    flex-direction: row;
}

.thematic {
    border: 2px #d9d9d9 solid;
    border-radius: 30px;
    padding: 10px;
    margin-left: 20px;
    font-weight: 700;
}

.thematic i{
    color: #0065fc;
    margin-right: 5px;
}

.thematic:hover {
    background-color: #deebff;
}

/*Info*/

.info{
    display: flex;
    margin-top: 20px;
}

.info i {
    color: #0065fc;
    border: #d9d9d9 1px solid;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 10px;
}

/*accommodation section*/

.accommodation-section {
    background-color: #f2f2f2;
    width: 61%;
    border-radius: 20px;
    padding: 20px;
    margin-top: 40px;
    justify-content: center;
}

.show-more {
    margin-top: 40px;
    font-weight: 700;
}

/*card accommodation*/

.card-accommodationflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-accommodation {
    width: 31%;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card-accommodation p {
    margin: 10px 0px;
}

.card-accommodation img {
    height: 120px;
    width: 100%;
    object-fit: cover;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
}

.card-accommodationtext {
    margin-left: 6px;
}

.card-accommodation i {
    color: #0065fc;
}

.card-accommodation i:last-of-type {
    color: #d9d9d9;
}

.card-accommodation a:hover {
    opacity: 70%;
}

/*aside popular section*/

.popular-section {
    background-color: #f2f2f2;
    width: 30%;
    border-radius: 20px;
    padding: 20px;
    margin-top: 40px;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.popular-title i {
    color: #0065fc;
}

/*card popular*/

.card-flex {
    display: flex;
    flex-direction: column;
   }

.card-popular {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card-popularhorizontal {
    display: flex;
}

.card-popular img {
    height: 135px;
    width: 40%;
    object-fit: cover;
    align-items: center;
    border-radius: 20px 0px 0px 20px;
}

.card-populartext {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.card-populartext p {
    margin-top: 10px;
}

.review-popular {
    display: flex;
    align-items: flex-end;
    height: 100%;
    margin-bottom: 5px;
    }

.review-popular i{
    color: #0065fc;
}

.card-popular i:last-of-type {
    color: #d9d9d9;
}

.card-popular a:hover {
    opacity: 70%;
}

/*section-aside*/

.section-aside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*activity section*/

.activity-section {
    margin-top: 40px; 
}

.card-activityflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-activity {
    width: 22%;
    height: auto;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card-activity img {
    height: 389px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.card-activity h3 {
    margin-left: 10px;
    padding: 10px;
}

.card-activity a:hover {
    opacity: 70%;
}

/*Footer*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #f2f2f2;
    margin-top: 50px;
    padding: 50px 0px;
    
    
    }

.list-header {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
    line-height: 2em;
    text-decoration: none;
    width: 200px;
}

/* Media queries tablet */

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    body {
        margin: 0px 10px;
    }

    .section-aside {
        flex-direction: column;
    }
    .accommodation-section {
        width: auto;
    }
    .popular-section {
        width: auto;
        flex-direction: row;
    }
    .card-flex {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .card-popular {
        width: 30%;
    }

    .card-activity img {
        height: 211px;
    }
}

/* media queries mobile */

@media screen and (max-width: 768px) {
    
    body {
        margin-left: 0;
        margin-right: 0;
    }
    
    /* nav */

    nav {
        flex-direction: column;
    }

    .mobile-nav {
        display: flex;
        justify-content: center;
        width: 100%
    }

    .mobile-nav a {
        width: 50%;
        text-align: center;
        margin-top: 20px;
        padding: inherit;
        padding-bottom: 20px;
    }

    nav a:hover {
        border-top: inherit;
        border-bottom: 3px solid #0065fc;
    }

    /* search section */

    .search-section h1 {
        margin-left: 20px;
    }

    .search-section p {
        margin-left: 20px;
    }
    
    /* search bar */

    button span {
        display: none;
    }
    
    .search-bar {
        justify-content: center;
    }
    
    .bar-mobile i{
        display: contents;
        color: white;
    }

    /* filtres section */

    .filtres {
        display: block;
    }

    .filtres-section {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .filtres-section a {
        width: 45%;
        margin: 5px;
        font-size: 12px;
    }

    .thematic {
        margin-left: 0px;
    }

    /* info */

    .info {
        margin-left: 20px;
        align-items: inherit;
    }

    .info p {
        margin-left: 0;
        margin-top: 0;
    }

    /* section - aside */

    .section-aside {
        flex-direction: column-reverse;
    }

    /* accommodation section */

    .accommodation-section {
        width: auto;
        background-color: white;
    }

    .card-accommodation {
        width: auto;
    }

    .card-accommodationflex {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .card-accommodationtext p {
        margin: 5px 0px 5px 0px;
    }

    /* popular section */

    .popular-section {
        width: auto;
        flex-direction: row;
        border-radius: inherit;
    }

    /* activity section */

    .activity-section {
        width: auto;
        padding: 20px;
    }

    .card-activityflex {
        flex-direction: column;
        align-items: center;
    }

    .card-activity {
        height: auto;
        margin-bottom: 20px;
        width: 100%;
    }

    .card-activity img {
        height: 134px;
    }
           
    /* footer */

    footer {
        flex-direction: column;
        padding-left: 50px;
    }
}
